@{
    ViewBag.Title ="Customer Details with OrderId == 10248";

}

<table class="table">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <!-- Add other customer properties as needed -->
    </tr>
    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>
        <!-- Add other customer properties as needed -->
    </tr>
</table>

